*-service-account.json
*.bak
*.egg-info
*.iml
*.py[cod]
*.tfvars
.coverage
.env
.env-*
.env-docker
.env-docker-kantoor
.env-example
.env.*
.idea
.terraform
.terraform.lock.hcl
.vscode
__pycache__
_autosummary
_build
build
data/
dist
flask_session
junit_report.xml
letsencrypt/
public
tags
terraform.tfvars
venv